* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #2c3498;
  --color-primary: #91a9f8;
  --color-secondary: #f2ffff;
  --color-accent: #f6c667;

  --font-title: "Libertinus Mono", monospace;
  --font-body: "Work Sans", sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-secondary);
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  max-width: 1200px;
  height: 100%;
  padding:1rem;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-family: var(--font-title);
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

input[type="file"] {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}


a {
  color: inherit;
  text-decoration: none;
}

nav {
    font-weight: 600;
    color: var(--color-accent); 
}

.scene-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
}

#scene-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: none;
}

#scene-container.visible {
  display: block;
}

/* Mobile Responsive */
@media (max-width: 599px) {
  h1 {
    font-size: 2rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn,
  input[type="file"] {
    width: 100%;
    text-align: center;
  }

  .header {
    padding: 1rem;
  }
}

@media (max-width: 899px) {
  h1 {
    font-size: 2.4rem;
  }

  .buttons {
    justify-content: center;
    gap: 1.25rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.9rem 1.8rem;
  }
}

