* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #2c3498;
  --color-primary: #91a9f8;
  --color-secondary: #f2ffff;
  --color-accent: #f6c667;

  --font-title: "Libertinus Mono", monospace;
  --font-body: "Fira Sans", sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-secondary);
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}



.hotspot-selector {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.hotspot-selector button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--color-primary);
  color: var(--color-bg);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.hotspot-selector button:hover {
  background: var(--color-accent);
  color: var(--color-bg)
}


.hotspot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-bg);
  padding: 3px 3px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 2px 8px var(--color-bg);
  pointer-events: auto;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  color: var(--color-secondary);
  position: absolute;

}

.hotspot .icon {
  font-size: 1.8rem;
  line-height: 1;
}

.hotspot .label {
  font-size: 1rem;
  margin-top: 4px;
  padding: 2px 4px;
  color: var(--color-secondary);
  border-radius: 4px;
  white-space: nowrap;
}

.hotspot:hover {
  background: var(--color-accent);
  color: var(--color-bg);
  transform: translate(-50%, -50%) scale(1.1);
}

#icon-edit-popup {
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 1rem;
  background: var(--color-secondary);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-bg);
  pointer-events: auto;
}

#icon-edit-popup.hidden {
  display: none;
}

#icon-edit-popup button {
  font-size: 1.4rem;
  background: var(--color-primary);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

#icon-edit-popup button:hover {
  background: var(--color-accent);
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  /* height: 100%; */
  padding:1rem;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-family: var(--font-title);
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}


.buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;      
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;           
}

.btn, .custom-file-button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-body);
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
  width: 500px;
}

.custom-file-button {
  width: 400px;
}

.btn:hover, .custom-file-button:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}


a {
  color: inherit;
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 15px 15px;
  border-radius: 8px;
}

a:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}


nav {
    font-weight: 600;
}


.scene-controls {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 10px;
  width: 100%;
  max-width: 500px;        
  margin: 0 auto;          
  align-items: center;     
  justify-content: center; 
  text-align: center;      
}

#scene-container {
    display: block; 
    width: 100%;
    max-width: 900px;
    height: 80vh; 
    margin-top: 1rem;
    /* border: 3px solid var(--color-accent); */
    padding: 5px;
    /* border-radius: 8px; */
    overflow: hidden;
    position: relative;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    visibility: hidden;
  }

#scene-container.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

#scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Mobile Responsive */
@media (max-width: 599px) {
  h1 {
    font-size: 2rem;
  }

  .buttons, .custom-file-button {
    flex-direction: column;
    align-items: center;
  }

  .btn,
  .custom-file-button {
    width: 100%;
    text-align: center;
  }

  .header {
    padding: 1rem;
  }

  #scene-container {
    height: 50vh; 
    
  }
}

@media (max-width: 899px) {
  h1 {
    font-size: 2.4rem;
  }

  .buttons {
    justify-content: center;
    gap: 1.25rem;
  }

  /* .btn {
    font-size: 1rem;
    padding: 0.9rem 1.8rem;
  } */

  #scene-container {
    height: 60vh;
  }
}

